.App {
  text-align: center;
}

.item-table {
  margin-top: 12px;
}

.item-table img {
  border-radius: 5px;
}

.row {
  margin-bottom: 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  height: 56px;
}

.left, .right {
  width: 25%;
  height: 56px;
  line-height: 56px;
}

.middle {
  width: 50%;
  height: 56px;
  line-height: 56px;
}