.App {
  text-align: center;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 10px 20px;
  border: 1px solid black;
  background: pink;
  align-items: left;
}